@font-face {
    font-family: arbonne;
    src: url(font/arbonne.ttf);
}

@font-face {
    font-family: roboto;
    src: url(font/Roboto-Regular.ttf);
}


html {
    position: relative;
    min-height: 100%;
    height: 100%;
}

p{
    font-family: roboto;
}

.navbar{
    font-family: arbonne;
    font-size: 25px;
    letter-spacing: 2px;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

 .nav-link {
    margin-right: 30px;
    margin-left: 30px;
}

.carousel .carousel-item { 
    width: 100%;
}


.carousel-item img {
    object-fit:cover;
    max-height:500px;
    opacity: 0.6;
}

.carousel-caption h5{
    font-size: 90px;
    font-family: arbonne;
    letter-spacing: 3px;
}

.carousel-caption p{
    font-size: 70px;
    font-family: arbonne;
    margin-bottom: 100px;
    letter-spacing: 3px;
}

#introduction-box{
    margin-top: 20px;
    background-color: rgb(221, 221, 221);
    background-image: url('immagini/rami-opacity2.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.introduction-text{
    margin-top:30px;
    margin-right:40px;
    
}

#filosofia{
    margin-top:50px;
}

.filosofia-titolo{
    text-align: center;
    font-family: arbonne;
    font-size: 80px;
    letter-spacing: 4px;
}

.filosofia-sottotitolo{
    text-align: left;
    font-family: arbonne;
    font-size: 50px;
    letter-spacing: 4px;
    color: #BA024F;
}

#paesaggista, #paesaggio, #associazione, #convenzione, #educazione {
    margin-top: 60px;
}

#spazi-verdi{
    margin-top: 90px;
}

.spazi-verdi-titolo{
    text-align: center;
    font-family: arbonne;
    font-size: 80px;
    letter-spacing: 4px;
}

.spazi-verdi-sottotitolo{
    text-align: left;
    font-family: arbonne;
    font-size: 50px;
    letter-spacing: 4px;
    color: #BA024F;
}

#grandi-spazi, #piccoli-spazi{
    margin-top:60px;
}

.card-body{
    background-color: rgb(221, 221, 221);
}

#map { 
    margin-top: 40px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 80%;
}


.contatti-titolo{
    text-align: center;
    font-family: arbonne !important;
    font-size: 60px;
    letter-spacing: 4px;
    margin-top:90px;
}

.contatti-sottotitolo{
    text-align: center;
    font-family: arbonne !important;
    font-size: 40px;
    letter-spacing: 4px;
    color: #BA024F;
}

.contatti{
    background-image: url('immagini/flower-background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    
}

.contatti-info{
    font-family: roboto;
    
    margin-top: 30px;
}



.footer { 
    position:static;
    left: 0;
    bottom:0;
    width: 100%;
    background-color: #BA024F;
    color: white;
    text-align: center;
    font-family: roboto;
    padding: 5px;
    font-size: 11px;
    padding-top: 15px; 
    padding-bottom: 3px;
    height: auto !important; 
}
  
  
.toindex {
    max-width: 100%;
    height: auto;
    width:30px;
    margin-top:0px;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
} 

.instagram {
    max-width: 100%;
    height: auto;
    width:30px;
    margin-top:0px;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}
  
#logos{
    text-align: center;
}
  