@font-face {
    font-family: arbonne;
    src: url(font/arbonne.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
 
html {
    position: relative;
    min-height: 100%;
}

.navbar{
    font-family: arbonne;
    font-size: 25px;
    letter-spacing: 2px;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

 .nav-link {
    margin-right: 30px;
    margin-left: 30px;
}

.carousel .carousel-item { 
    width: 100%;
}


.carousel-item img {
    object-fit:cover;
    max-height:500px;
    opacity: 0.6;
}

.carousel-caption h5{
    font-size: 90px;
    font-family: arbonne;
    letter-spacing: 3px;
}

.carousel-caption p{
    font-size: 70px;
    font-family: arbonne;
    margin-bottom: 100px;
    letter-spacing: 3px;
}

#introduction-box{
    margin-top: 20px;
    background-color: rgb(221, 221, 221);
    background-image: url('immagini/rami-opacity2.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.introduction-text{
    margin-top:30px;
    margin-right:40px;
    font-family: 'Roboto', sans-serif;
}

#filosofia{
    margin-top:20px;
}

.filosofia-titolo{
    text-align: center;
    font-family: arbonne;
    font-size: 80px;
    letter-spacing: 4px;
}

.filosofia-sottotitolo{
    text-align: left;
    font-family: arbonne;
    font-size: 50px;
    letter-spacing: 4px;
    color: #BA024F;
}

#spazi-verdi{
    margin-top: 20px;
}

.spazi-verdi-titolo{
    text-align: center;
    font-family: arbonne;
    font-size: 80px;
    letter-spacing: 4px;
}

.spazi-verdi-sottotitolo{
    text-align: left;
    font-family: arbonne;
    font-size: 50px;
    letter-spacing: 4px;
    color: #BA024F;
}

.piccoli-spazi{
    margin-top:50px;
}

.card-body{
    background-color: rgb(221, 221, 221);
}

#map { 
    margin-top: 40px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 80%;
}

#contatti{
    background-image: url('immagini/garden-design4.jpg');
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

#contatti-sezione{
    background-color: white;
    width: 700px;
}

.contatti-titolo{
    text-align: center;
    font-family: arbonne;
    font-size: 80px;
    letter-spacing: 4px;
}


.contatti-sottotitolo{
    text-align: center;
    font-family: arbonne;
    font-size: 50px;
    letter-spacing: 4px;
    color: #BA024F;
}


.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #BA024F;
    color: white;
    text-align: center;
    overflow: hidden;
}

.footer-item{
    margin:20px;
}
