@font-face {
    font-family: arbonne;
    src: url(font/arbonne.ttf);
}

@font-face {
    font-family: roboto;
    src: url(font/Roboto-Regular.ttf);
}

@font-face {
    font-family: brandon-grotesque;
    src: url(font/brandon-grotesque.otf);
}


html {
    position: relative;
    min-height: 100%;
    height: 100%;
}

body { 
    padding-top: 70px; 
}



.navbar{
    font-family: arbonne;
    font-size: 25px;
    letter-spacing: 2px;
    border: 1px solid transparent;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.nav-link {
    margin-right: 30px;
    margin-left: 30px;
}

#carousel-homepage .carousel .carousel-item { 
    width: 100%;
}

#carousel-homepage .carousel-item img {
    object-fit:cover;
    max-height:500px;
    opacity: 0.6;
    min-height: 500px;
}

#carousel-homepage .carousel-caption h5{
    font-size: 90px;
    font-family: arbonne;
    letter-spacing: 3px;
}

#carousel-homepage .carousel-caption p{
    font-size: 70px;
    font-family: arbonne;
    margin-bottom: 100px;
    letter-spacing: 3px;
}



#carousel-progetti .carousel .carousel-item { 
    width: 100%;
}

#carousel-progetti .carousel-item img {
    object-fit:cover;
    max-height:400px;
    opacity: 0.6;
    min-height: 300px;
}

#carousel-progetti .carousel-caption h5{
    font-size: 90px;
    font-family: arbonne;
    letter-spacing: 3px;
    margin-bottom: 100px;
}


#introduction-box{
    margin-top: 20px;
    background-color: rgb(221, 221, 221);
    background-image: url('immagini/rami-opacity2.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.introduction-text{
    padding-top: 20px;
    padding-bottom: 15px;
    margin-left:20px;
    margin-right:20px;
    font-family: brandon-grotesque;
    font-size: 18px;
    letter-spacing: .01em;
    line-height: 1.6em;
    text-transform: none;
    color: #222;
}





#filosofia{
    margin-top: 30px;
}
#filosofia p{
    margin-bottom: 0px;
    font-family: brandon-grotesque;
    font-size: 18px;
    letter-spacing: .01em;
    line-height: 1.6em;
    text-transform: none;
    color: #222;
}

#filosofia ul, ol{
    font-family: brandon-grotesque;
    font-size: 18px;
    letter-spacing: .01em;
    line-height: 1.6em;
    text-transform: none;
    color: #222;
}

.filosofia-titolo {
    text-align: center;
    font-family: arbonne;
    font-size: 80px;
    letter-spacing: 4px;
}

.filosofia-sottotitolo{
    text-align: left;
    font-family: arbonne;
    font-size: 40px;
    letter-spacing: 3px;
    color: #BA024F;
}

#paesaggista, #paesaggio, #formazione, #associazioni {
    padding-top: 50px;
}



#attività-servizi{
    margin-top: 30px;
}
#attività-servizi p{
    margin-bottom: 0px;
    font-family: brandon-grotesque;
    font-size: 18px;
    letter-spacing: .01em;
    line-height: 1.6em;
    text-transform: none;
    color: #222;
}

#attività-servizi ul, ol{
    font-family: brandon-grotesque;
    font-size: 18px;
    letter-spacing: .01em;
    line-height: 1.6em;
    text-transform: none;
    color: #222;
}

.as-titolo {
    text-align: center;
    font-family: arbonne;
    font-size: 80px;
    letter-spacing: 4px;
}

.as-sottotitolo{
    text-align: left;
    font-family: arbonne;
    font-size: 40px;
    letter-spacing: 3px;
    color: #BA024F;
}

#corsi-ed-amb, #corsi-privati, #servizio-coaching, #chiavi-mano{
    padding-top: 50px;
}


.progetti{
    margin-top: 30px;
    font-family: brandon-grotesque;
    font-size: 18px;
    letter-spacing: .01em;
    line-height: 1.6em;
    text-transform: none;
    color: #222;
}


.progetti-titolo{
    text-align: center;
    font-family: arbonne;
    font-size: 80px;
    letter-spacing: 4px;
}

.progetti-sottotitolo{
    text-align: left;
    font-family: arbonne;
    font-size: 50px;
    letter-spacing: 4px;
    color: #BA024F;
}

#grandi-spazi, #piccoli-spazi{
    padding-top: 40px;
}

.card-body{
    background-color: rgba(0,0,0,.03);
}

#map { 
    margin-top: 40px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 80%;
}

#contatti{
    font-family: brandon-grotesque;
    font-size: 18px;
    letter-spacing: .01em;
    line-height: 1.6em;
    text-transform: none;
    color: #222;
}


.contatti-titolo{
    text-align: center;
    font-family: arbonne !important;
    font-size: 60px;
    letter-spacing: 4px;
    margin-top:30px;
}

.contatti-sottotitolo{
    text-align: center;
    font-family: arbonne !important;
    font-size: 40px;
    letter-spacing: 4px;
    color: #BA024F;
}

.contatti{
    background-image: url('immagini/flower-background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    
}

.contatti-info{
    font-family: roboto;
    margin-top: 30px;
}



.footer { 
    position:static;
    left: 0;
    bottom:0;
    width: 100%;
    background-color: #BA024F;
    color: white;
    text-align: center;
    font-family: roboto;
    padding: 5px;
    font-size: 11px;
    padding-top: 15px; 
    padding-bottom: 3px;
    height: auto !important; 
}
  
  
.toindex {
    max-width: 100%;
    height: auto;
    width:30px;
    margin-top:0px;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
} 

.instagram {
    max-width: 100%;
    height: auto;
    width:30px;
    margin-top:0px;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}
  
#logos{
    text-align: center;
}



@media (max-width: 767.98px) { 
    .carousel-item img {
        max-height:250px;
        min-height: 250px;
    }
    .carousel-caption h5{
        font-size: 55px !important;
    }   
    .carousel-caption p{
        font-size: 40px !important;
        margin-bottom: 120px !important;
        margin-top: 10px !important;
    }

    .filosofia-sottotitolo{
        font-size: 30px !important;
    }

    #introduction-box{
      background-image: none;
    }
    .introduction-text{
        margin-left:10px;
        margin-right:5px;
    }

    .contatti-titolo{
        font-size: 50px;
        margin-top:30px;
    }
    .contatti-sottotitolo{
      font-size: 35px;
    }
}

